* {
    transition: 0.3s all ease-in;
}

.nav-item.nav-link {
    font-size: 20px !important;
}

select {
    width: 100px;
    border-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align-all: center;
    margin: 0 5px;
}

option::after {
    border-color: #ccc;
    border-radius: 5px;
}

option:hover {
    color: red;
}

.bg-dark {
    background: #333 !important;
}

.active {
    color: #FD9207 !important;
    border-bottom: 2px solid #FD9207 !important;
    text-shadow: 0 0 5px black;
}

.btn-link {
    font-weight: normal;
    text-decoration: underline;
}

.nav-item.nav-link {
    padding: 25px !important;
}

a.nav-item.nav-link:hover {
    color: #bf6f08 !important;
}

@media (max-width: 768px) {
    .navbar {
        width: 61rem !important;
    }

    .table {
        width: 59rem !important;
    }
}